<% layout('/layouts/boilerplate') %>

<div class="row mt-3">
    <h1 class="col-6 offset-3 text-white">SignUp on HouseHunt</h1>
    <div class="col-6 offset-3">
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <div class="mb-3 auth-form">
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" type="text" class="form-control" required/>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3 auth-form">
                <label for="email" class="form-label">Email</label>
                <input name="email" id="email" type="email" class="form-control" required/>
            </div>
            <div class="mb-3 auth-form">
                <label for="phone" class="form-label">Phone Number</label>
                <input name="phone" id="phone" type="tel" class="form-control" 
                       pattern="[0-9]{10}" required
                       title="Please enter a 10-digit phone number"/>
                <div class="invalid-feedback">
                    Please provide a valid 10-digit phone number
                </div>
            </div>
            <div class="mb-3 auth-form">
                <label for="password" class="form-label">Password</label>
                <input name="password" id="password" type="password" class="form-control" required/>
            </div>
            <div class="mb-3 auth-form">
                <label for="userType" class="form-label">Account Type</label>
                <select name="userType" id="userType" class="form-select" required>
                    <option value="regular">Regular</option>
                    <option value="student">Student</option>
                    <option value="military">Military</option>
                </select>
            </div>
            <button class="btn btn-success">SignUp</button>
        </form>
    </div>
</div>